body {
  font-family: "Inter", sans-serif;
}
* {
  box-sizing: border-box;
}
span{
 color: #f77f00;

}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

/* ================= NAVIGATION ================= */

header,
footer {
  width: 100%;
}

footer {
  margin-bottom: 0;
}

.nav-link {
  position: relative;
  color: #1f2937;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f77f00;
}

.nav-link.active {
  color: #f77f00 !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #f77f00;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active::after {
  width: 100%;
}

.nav-btn {
  display: none;
}



.cta-button {
  background-color: #f77f00;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: 600;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #d96c00;
  transform: translateY(-3px);
  text-decoration: underline;
}

.cta-button:active {
  background-color: #d96c00;
  text-decoration: underline;
}

/* Web Responsiveness */

/* Medium screens */
@media (max-width: 1024px) {
  .grid.grid-cols-3 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .grid.grid-cols-2 {
    grid-template-columns: 1fr !important;
  }
  header nav ul {
    gap: 1rem;
  }
  .hero-section {
    font-size: 2.5rem;
  }
}

/* Small Screens */

@media (max-width: 725px) {
  .grid.grid-cols-3,
  .grid.grid-cols-2 {
    grid-template-columns: 1fr !important;
  }
  header .max-w-6xl {
    flex-direction: column;
    align-items: flex-start;
  }
  header nav ul {
    flex-direction: row;
    gap: 0.8rem;
    margin-top: 1rem;
  }

  .hero-section {
    padding: 4rem 1rem;
  }
  .hero-section h2 {
    font-size: 2rem;
  }
  footer .grid {
    /* grid-template-columns: 1fr !important; */
    text-align: center;
  }

  
}
